

.normal {
    background-color: #a6a877;}
.grass {
     background-color: #77c850;}
.fire {
     background-color: #ee7f30;}
.water {
     background-color: #678fee;}
.electric {
     background-color: #f7cf2e;}
.ice {
     background-color: #98d5d7;}
.ground {
     background-color: #dfbf69;}
.flying {
     background-color: #a98ff0;}
.poison {
     background-color: #a040a0;}
.fighting {
     background-color: #bf3029;}
.psychic {
     background-color: #f65687;}
.dark {
     background-color: #725847;}
.rock {
     background-color: #b8a137;}
.bug {
     background-color: #a8b720;}
.ghost {
     background-color: #6e5896;}
.steel {
     background-color: #b9b7cf;}
.dragon {
     background-color: #6f38f6;}
.fairy {
     background-color: #f9aec7;}

/* 
.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem 1rem;
    border-radius: 1rem;  
}

.pokemon .name{
    text-transform: capitalize;
    font-size: 1.5rem;
    color: #fff;
    margin: .25rem 0;
    margin-bottom: 0;
}

.pokemon .number{
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .725rem;

}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type{
    color: #fffcfc;
    opacity: .7;
    filter: brightness(1.1);
    padding: .25rem .15rem;
    margin: .125rem;
    border-radius: .3rem;
    font-size: .9rem;
    text-align: center;
}
.pokemon .detail img{
    border-style: none;
    max-width: 110%;
    height: 80px;
    align-self: flex-end;;
}
 */


 
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    color: #fff;
    background-color: #6c79db;
    border: none;
    padding: .35rem .25rem;
    margin: .125rem;
    border-radius: .3rem;
    font-size: .9rem;
}
